.box {
  display: flex;
  width: 100%;
  max-width: 1344px;
  flex-direction: column;
  margin: -2px auto 0;
  padding-bottom: 50px;
  padding-top: 50px;
}
@media (max-width: 991px) {
  .box {
    max-width: 100%;
    margin-top: 40px;
  }
}
.img {
  aspect-ratio: 2.56;
  object-fit: auto;
  object-position: center;
  width: 1297px;
  max-width: 100%;

  border-radius: 8px;
  border-width: 2px;
  border-color: #212121;
}
.div {
  margin-top: 53px;
}
@media (max-width: 991px) {
  .div {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-2 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-2 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;

}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-3 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  font-weight: 400;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    margin-top: 30px;
  }
}
.img-2 {
  aspect-ratio: 1.35;
  object-fit: auto;
  object-position: center;
  width: 646px;
  max-width: 100%;
  margin-left: -3px;

  border-radius: 8px;
  border-width: 2px;
  border-color: #212121;
}
.div-4 {
  text-align: center;
  margin-top: 47px;
  font: 70px/92px Audiowide, sans-serif;
}
@media (max-width: 991px) {
  .div-4 {
    max-width: 100%;
    margin-top: 40px;
    font-size: 40px;
    line-height: 58px;
  }
}
.div-5 {
  align-self: stretch;
  margin-top: 20px;
  font: 24px/36px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.div-6 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  color: #1a1a1a;
  font-weight: 400;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-7 {
  text-align: center;
  align-self: stretch;
  font: 80px/130% Audiowide, sans-serif;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-8 {
  text-align: right;
  margin-top: 22px;
  font: 24px/36px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
  }
}
.img-3 {
  aspect-ratio: 1.33;
  object-fit: auto;
  object-position: center;
  width: 646px;
  margin-top: 30px;
  max-width: 100%;

  border-radius: 8px;
  border-width: 2px;
  border-color: #212121;
}
@media (max-width: 991px) {
  .img-3 {
    margin-top: 40px;
  }
}
.div-9 {
  align-self: center;
  margin-top: 71px;
  width: 1245px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .div-9 {
    margin-top: 40px;
  }
}
.div-10 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-10 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.img-4 {
  aspect-ratio: 1.33;
  object-position: left;
  width: 646px;
  margin-top: 6px;
  flex-grow: 1;
  border-radius: 8px;
  border-width: 2px;
  border-color: #212121;
  position: relative;
  right: 50px;
}
@media (max-width: 991px) {
  .img-4 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.column-3 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-3 {
    width: 100%;
  }
}
.div-11 {
  display: flex;
  flex-direction: column;
  color: #1a1a1a;
  font-weight: 400;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-12 {
  text-align: center;
  align-self: center;
  font: 70px/131% Audiowide, sans-serif;
}
@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-13 {
  margin-top: 73px;
  font: 24px/36px Inter, sans-serif;
  text-align: right;
}
@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
    margin-top: 40px;
  }
}
