:host {
  display: contents;
}
.untitledscreen-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.untitledscreen-untitledscreen {
  width: 100%;
  height: 2254px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 6px 0px rgba(18, 15, 40, 0.11999999731779099) ;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.untitledscreen-group20 {
  top: 72px;
  left: 0px;
  width: 1920px;
  height: 2089px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.untitledscreen-image4 {
  top: 596px;
  left: 140px;
  width: 749px;
  height: 436px;
  position: absolute;
  border-color: rgba(33, 33, 33, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}
.untitledscreen-text {
  top: 596px;
  left: 960px;
  color: rgba(26, 26, 26, 1);
  width: 960px;
  height: auto;
  position: absolute;
  font-size: 80px;
  font-style: Regular;
  text-align: center;
  font-family: Audiowide;
  font-weight: 400;
  line-height: 104px;
  font-stretch: normal;
  text-decoration: none;
}
.untitledscreen-text02 {
  top: 714px;
  left: 978px;
  color: rgba(26, 26, 26, 1);
  width: 864px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.untitledscreen-image41 {
  top: 1083px;
  left: 1065px;
  width: 749px;
  height: 436px;
  position: absolute;
  border-color: rgba(33, 33, 33, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}
.untitledscreen-text04 {
  top: 1059px;
  left: 4.506700459865065e-14px;
  color: rgba(26, 26, 26, 1);
  width: 960px;
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: center;
  font-family: Audiowide;
  font-weight: 400;
  line-height: 92px;
  font-stretch: normal;
  text-decoration: none;
}
.untitledscreen-text06 {
  top: 1243px;
  left: 94px;
  color: rgba(26, 26, 26, 1);
  width: 864px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: right;
  font-family: Inter;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.untitledscreen-image42 {
  top: 1637px;
  left: 140px;
  width: 749px;
  height: 436px;
  position: absolute;
  border-color: rgba(33, 33, 33, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
}
.untitledscreen-text08 {
  top: 1765px;
  left: 978px;
  color: rgba(26, 26, 26, 1);
  width: 864px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 36px;
  font-stretch: normal;
  text-decoration: none;
}
.untitledscreen-text10 {
  top: 1607px;
  left: 931px;
  color: rgba(26, 26, 26, 1);
  width: 960px;
  height: auto;
  position: absolute;
  font-size: 70px;
  font-style: Regular;
  text-align: center;
  font-family: Audiowide;
  font-weight: 400;
  line-height: 92px;
  font-stretch: normal;
  text-decoration: none;
}
.untitledscreen-image5 {
  top: 0px;
  left: 94px;
  width: 1748px;
  height: 540px;
  position: absolute;
}
