<app-nav-bar-preloggin></app-nav-bar-preloggin>
<div class="untitledscreen-container">
  <div class="untitledscreen-untitledscreen">
    <div class="untitledscreen-group20">
      <img
        src="assets/imagen_preset.png"
        alt="imagen 1"
        class="untitledscreen-image4"
      />
      <span class="untitledscreen-text"><span>¿Que es mijuru?</span></span>
      <span class="untitledscreen-text02">
        <span>
          Mijuru propone la creación de una plataforma innovadora destinada a
          facilitar la construcción y administración de entornos colaborativos
          virtuales, denominados &apos;campus&apos;. Esta iniciativa surge con
          el objetivo de transformar la dinámica de la colaboración en línea,
          integrando de manera eficiente herramientas esenciales como chat,
          videollamadas, gestión de archivos y un robusto sistema de gestión de
          proyectos.
        </span>
      </span>
      <img
        src="assets/imagen_preset.png"
        alt="imagen 2"
        class="untitledscreen-image41"
      />
      <span class="untitledscreen-text04"><span>¿Que es un campus?</span></span>
      <span class="untitledscreen-text06">
        <span>
          Mijuru propone la creación de una plataforma innovadora destinada a
          facilitar la construcción y administración de entornos colaborativos
          virtuales, denominados &apos;campus&apos;. Esta iniciativa surge con
          el objetivo de transformar la dinámica de la colaboración en línea,
          integrando de manera eficiente herramientas esenciales como chat,
          videollamadas, gestión de archivos y un robusto sistema de gestión de
          proyectos.
        </span>
      </span>
      <img
        src="assets/imagen_preset.png"
        alt="imagen 3"
        class="untitledscreen-image42"
      />
      <span class="untitledscreen-text08">
        <span>
          Mijuru propone la creación de una plataforma innovadora destinada a
          facilitar la construcción y administración de entornos colaborativos
          virtuales, denominados &apos;campus&apos;. Esta iniciativa surge con
          el objetivo de transformar la dinámica de la colaboración en línea,
          integrando de manera eficiente herramientas esenciales como chat,
          videollamadas, gestión de archivos y un robusto sistema de gestión de
          proyectos.
        </span>
      </span>
      <span class="untitledscreen-text10"><span>¿Y que mas?</span></span>
      <img
        src="assets/video_preset.png"
        alt="Video mijuru"
        class="untitledscreen-image5"
      />
    </div>
  </div>
</div>
<app-footer-preloggin></app-footer-preloggin>
