<div class="pantalla-de-inicio">
  <div class="container">
    <button class="button"><div class="text-wrapper">INICIO SESSION</div></button>
    <button class="div-wrapper"><div class="div">REGISTRO</div></button>
    <div class="overlap-group">
      <img class="image" src="img/image-2.png" />
      <img class="img" src="img/image-3.png" />
      <div class="header-menu">
        <div class="frame"><div class="text-wrapper-2">About us</div></div>
        <div class="FAQ-s-wrapper"><div class="text-wrapper-2">FAQ&#39;s</div></div>
        <div class="frame-2"><div class="text-wrapper-2">Contactanos</div></div>
      </div>
    </div>
  </div>
  <img class="image-2" src="img/image-4-2.png" />
  <div class="text-wrapper-3">¿Que es mijuru?</div>
  <p class="mijuru-propone-la">
    Mijuru propone la creación de una plataforma innovadora destinada a facilitar la construcción y administración
    de entornos colaborativos virtuales, denominados &#39;campus&#39;. Esta iniciativa surge con el objetivo de
    transformar la dinámica de la colaboración en línea, integrando de manera eficiente herramientas esenciales como
    chat, videollamadas, gestión de archivos y un robusto sistema de gestión de proyectos.
  </p>
  <img class="image-3" src="img/image.png" />
  <div class="text-wrapper-4">¿Que es un campus?</div>
  <p class="p">
    Mijuru propone la creación de una plataforma innovadora destinada a facilitar la construcción y administración
    de entornos colaborativos virtuales, denominados &#39;campus&#39;. Esta iniciativa surge con el objetivo de
    transformar la dinámica de la colaboración en línea, integrando de manera eficiente herramientas esenciales como
    chat, videollamadas, gestión de archivos y un robusto sistema de gestión de proyectos.
  </p>
  <img class="image-4" src="img/image-4.png" />
  <p class="mijuru-propone-la-2">
    Mijuru propone la creación de una plataforma innovadora destinada a facilitar la construcción y administración
    de entornos colaborativos virtuales, denominados &#39;campus&#39;. Esta iniciativa surge con el objetivo de
    transformar la dinámica de la colaboración en línea, integrando de manera eficiente herramientas esenciales como
    chat, videollamadas, gestión de archivos y un robusto sistema de gestión de proyectos.
  </p>
  <div class="text-wrapper-5">¿Y que mas?</div>
  <img class="image-5" src="img/image-5.png" />
  <div class="container-2">
    <div class="text-wrapper-6">Contact us</div>
    <div class="text-wrapper-7">FAQs</div>
    <img class="logo-twitter" src="img/logo-twitter-2.svg" />
    <img class="logo-facebook" src="img/logo-facebook-2.svg" />
    <img class="logo-linkedin" src="img/logo-linkedin-2.svg" />
    <img class="logo-youtube" src="img/logo-youtube-2.svg" />
    <div class="text-wrapper-8">About us</div>
    <img class="image-6" src="img/image-2-2.png" />
    <img class="image-7" src="img/image-3-2.png" />
  </div>
</div>
