<div class="main-container">
  <div class="rectangle">
    <div class="flex-row-bc">
      <span class="nuevo-campus">Nuevo campus</span>
      <div class="close">
        <button mat-icon-button aria-label="close dialog" mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="line"></div>
    </div>
    <span class="creaccion-de-campus">Creaccion de campus</span>
  </div>
  <div class="rectangle-1">
    <mat-vertical-stepper [linear]="false" #stepper >
      <mat-step [stepControl]="datosFormGroup">
        <form [formGroup]="datosFormGroup">
          <ng-template matStepLabel>Datos de Campus</ng-template>
              <mat-form-field appearance="standard">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre del campus" required>
              </mat-form-field>
              <mat-form-field appearance="standard" class="marginleft">
                <mat-label>Descripcion</mat-label>
                <textarea matInput placeholder="Descripcion del campus" ></textarea>

              </mat-form-field>
          <div>
            <button mat-button matStepperNext>Continuar</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="imageFormGroup">
        <form [formGroup]="imageFormGroup">
          <ng-template matStepLabel>Imagen de Campus</ng-template>
          <button mat-button color="primary" (click)="onFileInputClick()">
            <mat-icon>attach_file</mat-icon> Subir Imagen
            <input type="file" (change)="onFileSelected($event)" style="display: none;">
          </button>
          <img [src]="foto" *ngIf="foto" width="30" height="30">

          <div>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Continuar</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="roleFormGroup">
        <form [formGroup]="roleFormGroup">
          <ng-template matStepLabel>Heramientas</ng-template>

          <section class="example-section" [formGroup]="herramientasFormGroup">
            <h4>Select your toppings:</h4>
            <p><mat-checkbox formControlName="chat">Chat</mat-checkbox></p>
            <p><mat-checkbox formControlName="entradas">Entradas</mat-checkbox></p>
          </section>



          <div>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Continuar</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="roleFormGroup">
        <form [formGroup]="roleFormGroup">
          <ng-template matStepLabel>Rol</ng-template>
          <button mat-button (click)="onFileInputClick()">
            <mat-icon>attach_file</mat-icon> Subir Imagen
            <input type="file" (change)="onFileSelected($event)" style="display: none;">
          </button>
          <div>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Continuar</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="roleFormGroup">
        <form [formGroup]="roleFormGroup">
          <ng-template matStepLabel>Invitar usuarios</ng-template>
          <mat-form-field>
            <input type="text" placeholder="Buscar usuario" aria-label="Number" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                {{ user.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Volver</button>
            <button mat-button matStepperNext>Continuar</button>
          </div>
        </form>
      </mat-step>



      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Volver</button>
          <button mat-button (click)="stepper.reset()">Volver al inicio</button>
        </div>
      </mat-step>

    </mat-vertical-stepper>


  </div>
</div>
