<div class="div">
  <div class="div-2">
    <img
      loading="lazy"
      srcset="assets/1.png"
      class="img"
    />
  </div>
  <div class="div-3">
    <div class="div-4">About us</div>
    <div class="div-5">Contact us</div>
    <div class="div-6">FAQs</div>
  </div>
  <div class="div-7">
    <div class="div-8">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/364135f91a29bcd45a4aee528b62b5d4c79714909dd84013872423daee08a02e?"
        class="img-2"
      />
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4975227b9cf8db14a787a244b88336b48c6e1862ade2ab57c5ab74ded277bf8?"
        class="img-3"
      />
    </div>
    <div class="div-9">
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6cd05a9120fb6e2e3a2fc66eecf9f5ad239c6ac636a2208921648f3b7ad01834?"
        class="img-4"
      />
      <img
        loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/ba29cb4f7dc227be36fd5e4a27d9c5c75515352d60f3076f7d0b115bf353ba7f?"
        class="img-5"
      />
    </div>
  </div>
</div>
