<div class="navBar conteiner">
  <!-- Logo -->
  <div class="row ">
    <!-- navbar -->
    <div class="col-md-2">
      <div>
        <img src="assets/1.png" class="logo">
      </div>
    </div>
    <div class="col-md-7 ">
      <div class="row">
        <div class="col-md-4">
          <div class="">About us</div>
          <div class=""></div>
        </div>
        <div class="col-md-4">
          <div class="">About us</div>
        </div>
        <div class="col-md-4">
          <div class="">About us</div>
        </div>
      </div>
    </div>
    <!-- Loggin/reg -->
    <div class="col-md-3">
      <div class="row">
        <!-- loggin -->
        <div class="col-md-6">
          login
        </div>
        <!-- register -->
        <div class="col-md-6">
          register
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="navBar container-fluid">
    <div class="row">
      <div class="col-md-1 ">
        <div>
          <img src="assets/1.png" class="logo">
        </div>
      </div>


      <div class="col-md-2 mt-4">
          <h1 class="title">About us</h1>
          <div class="title-decorator"></div>
      </div>
      <div class="col-md-2 mt-4">
        <h1 class="title">About us</h1>
        <div class="title-decorator"></div>
      </div>
      <div class="col-md-2 mt-4">
        <h1 class="title">About us</h1>
        <div class="title-decorator"></div>
      </div>


      <div class="col-md-1 mt-4">
      </div>


      <div class="col-md-2 mt-4">
          <button class="button2">REGISTRO</button>
      </div>
      <div class="col-md-2 mt-4">
          <button class="button">Login</button>
      </div>
    </div>
  </div>
