  <div class="navBar container-fluid">
    <div class="row w-100 h-100">
      <div class="col-md-1 ">
        <div>
          <img src="assets/1.png" class="logo">
        </div>
      </div>

      <div class="col-md-2 mt-4 position-relative">
          <h1 class="title"><a>Sobre nosotros</a></h1>
          <div class="title-decorator"></div>
      </div>
      <div class="col-md-2 mt-4 position-relative">
        <h1 class="title">Preguntas Frecuentes</h1>
        <div class="title-decorator"></div>
      </div>
      <div class="col-md-2 mt-4 position-relative">
        <h1 class="title">Contactanos</h1>
        <div class="title-decorator"></div>
      </div>

      <div class="col-md-1 mt-4">
      </div>

      <div class="col-md-2 pt-4 px-5">
          <button class="button">INICIO SESSION</button>
      </div>
      <div class="col-md-2 pt-4 px-5">
          <button class="button2">REGISTRO</button>
      </div>
    </div>
  </div>
