
<div class="navBar container-fluid">
    <div class="row w-100 h-100">
      <div class="col-md-1 ">
        <div>
          <a routerLink="/welcome" ><img src="assets/1.png" class="logo"></a>
        </div>
      </div>

      <div class="col-md-2 mt-4 position-relative">
          <h1 class="title">
            <a routerLink="/about-us" >
              Sobre nosotros</a></h1>
          <div class="title-decorator"></div>
      </div>
      <div class="col-md-2 mt-4 position-relative">
        <a class="title">Preguntas Frecuentes</a>
        <div class="title-decorator"></div>
      </div>
      <div class="col-md-2 mt-4 position-relative">
        <a class="title">Contactanos</a>
        <div class="title-decorator"></div>
      </div>

      <div class="col-md-1 mt-4">
      </div>

      <div class="col-md-2 pt-4 px-5">
         <a routerLink="/login"><button class="button">INICIO SESSION</button> </a>
      </div>
      <div class="col-md-2 pt-4 px-5">
          <a routerLink="/register"><button class="button2">REGISTRO</button></a>
      </div>
    </div>
  </div>
