<div class="inicio-de-session">
  <div class="container">
    <button class="button"><div class="text-wrapper">INICIO SESSION</div></button>
    <button class="div-wrapper"><div class="div">REGISTRO</div></button>
    <div class="textbox">
      <div class="textfield">
        <div class="text"></div>
        <img class="img" src="img/mail.svg" />
      </div>
      <div class="text-wrapper-2">Usuario</div>
    </div>
    <div class="textbox-2">
      <div class="textfield">
        <div class="text"></div>
        <img class="hide" src="img/hide.svg" />
        <img class="img" src="img/lock.svg" />
      </div>
      <div class="text-wrapper-2">Password</div>
    </div>
    <button class="button-2">
      <div class="text-2"></div>
      <img class="arrow-left" src="img/arrow-left.svg" />
    </button>
    <div class="text-wrapper-3">Log In</div>
  </div>
</div>
