<div class="container4-container">
  <div class="container4-container3">
    <form [formGroup]="loginForm">
      <button class="container4-button1" (click)="onSubmit()">
        <span class="container4-text"><span class="kode-mono-400">INICIO SESSION</span></span>
      </button>
      <button class="container4-button11" (click)="onSubmit()">
        <span class="container4-text02"><span class="kode-mono-400">REGISTRO</span></span>
      </button>
      <button type="submit" class="container4-button9">
        <span class="container4-text04"></span>
        <img src="/assets/flecha.png" alt="Arrowleft3035" class="container4-arrowleft" />
      </button>
      <span class="container4-text05"><span class="roboto-regular">Iniciar Sesión</span></span>
      <div class="container4-textbox6">
        <span class="container4-text07"><span class="roboto-thin">Usuario</span></span>
        <div class="container4-textfield">
          <input type="text" class="container4-input" formControlName="usuario">
          <img src="/assets/Envelope%201.png" alt="Mail3044" class="container4-mail" />
        </div>
      </div>
      <div class="container4-textbox61">
        <span class="container4-text10"><span class="roboto-thin">Contraseña</span></span>
        <div class="container4-textfield1">
          <input type="password" class="container4-input" formControlName="contraseña">
          <img src="/assets/Lock%201.png" alt="Mail3051" class="container4-mail1" />
        </div>
      </div>
    </form>
  </div>
</div>
