.container {
  display: grid;
  grid-template-columns: auto 1fr; /* Una columna para la barra de navegación y otra para el contenido */
}

.navbar {
  min-width: 200px; /* Ancho mínimo de la barra de navegación */
  background-color: #333; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px; /* Espacio interno */
}

.content {
  padding: 20px; /* Espacio interno */
}
