<div class="div">
  <img
    loading="lazy"
    src="assets/Avatar.png"
    class="img"
  />
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">
        Jennie Ponce
        <span style="font-weight: 400">Titulo de la accion</span>
      </div>
      <div class="div-5">10m ago</div>
    </div>
    <div class="div-6">
      <div class="div-7">
        Te a invitado a campus
        <br />
        <br />
      </div>
      <div class="div-8">Acceptar</div>
      <div class="div-9">Cancelar</div>
    </div>
  </div>
</div>

