<app-nav-bar-preloggin></app-nav-bar-preloggin>
<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="div-4">Quiénes somos</div>
      <div class="div-5">
        Traemos igual dedicación y compromiso a cada proyecto, ya sea diseño residencial, comercial o de espacios públicos.
      </div>
      <img
        loading="lazy"
        srcset="/assets/Image19.png"
        class="img"
      />
    </div>
  </div>
  <div class="div-6">
    <div class="div-7">
      <div class="div-8">
        <div class="column">
          <div class="div-9">
            <div class="div-10">
              Esperamos que la vida sea una forma estética que también sea una actitud. Intentamos aplicar la experiencia de vida hermosa al diseño y optimizar la interacción entre usuarios y espacios.
            </div>
            <div class="div-11">David Calin & Mehdi Tahrat</div>
            <div class="div-12">Cofundador de Mijuru</div>
          </div>
        </div>
        <div class="column-2">
          <img
            loading="lazy"
            srcset="/assets/Image29.png"
            class="img-2"
          />
        </div>
        <div class="column-3">
          <img
            loading="lazy"
            srcset="/assets/Image30.png"
            class="img-3"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="div-13">
    <div class="div-14">Nuestro proceso</div>
    <div class="div-15">
      <div class="div-16">
        <div class="column-4">
          <div class="div-17">
            <div class="div-18">
              <div class="column-5">
                <div class="div-19">
                  Officia elit ipsum ad velit exercitation do est nisi elit. Exercitation reprehenderit cupidatat fugiat voluptate mollit mollit fugiat consequa
                </div>
              </div>
              <div class="column-6">
                <img
                  loading="lazy"
                  srcset="/assets/Image28.png"
                  class="img-4"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="column-7">
          <div class="div-20">
            Qui nisi sint excepteur irure incididunt nostrud consectetur ad voluptate eiusmod esse voluptate id ut commodo in reprehen
          </div>
        </div>
      </div>
    </div>
    <div class="div-21">
      <div class="div-22">
        <div class="div-23">
          <div class="column-8">
            <div class="div-24">
              Proident duis adipisicing duis irure occaecat est nisi cupidatat anim duis proident ut enim nulla veniam ea sunt dolore
            </div>
          </div>
          <div class="column-9">
            <div class="div-25">
              <div class="div-26">
                <div class="column-10">
                  <img
                    loading="lazy"
                    srcset="/assets/Image27.png"
                    class="img-5"
                  />
                </div>
                <div class="column-11">
                  <img
                    loading="lazy"
                    srcset="/assets/Image27-1.png"
                    class="img-6"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button routerLink="/contactUs" class="div-27">Contáctanos</button>
    </div>
  </div>
</div>

<app-footer-preloggin></app-footer-preloggin>
