.question-container {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.question-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.question {
  margin: 0 10px;
  font-weight: bold;
}

.question-image {
  width: 50px;
}

.answer {
  margin-top: 10px;
}
