<div class="container4-container">
  <div class="container4-container3">
    <button class="container4-button1">
      <span class="container4-text"><span class="roboto-thin-italic">INICIO SESSION</span></span>
    </button>
    <button class="container4-button11">
      <span class="container4-text02"><span class="roboto-thin-italic">REGISTRO</span></span>
    </button>
    <button class="container4-button9">
      <span class="container4-text04"></span>
      <img
        src="/assets/flecha.png"
        alt="Arrowleft3035"
        class="container4-arrowleft"
      />
    </button>
    <span class="container4-text05"><span>Register</span></span>
    <div class="container4-textbox6">
      <span class="container4-text07"><span>Usuario</span></span>
      <div class="container4-textfield">
        <span class="container4-text09"></span>
        <img src="/assets/Envelope%201.png" alt="Mail3044" class="container4-mail" />
      </div>
    </div>
    <div class="container4-textbox61">
      <span class="container4-text10"><span>Usuario</span></span>
      <div class="container4-textfield1">
        <span class="container4-text12"></span>
        <img src="/assets/Envelope%201.png" alt="Mail3051" class="container4-mail1" />
      </div>
    </div>
    <div class="container4-textbox62">
      <span class="container4-text13"><span>Usuario</span></span>
      <div class="container4-textfield2">
        <span class="container4-text15"></span>
        <img src="/assets/Envelope%201.png" alt="Mail3058" class="container4-mail2" />
      </div>
    </div>
    <div class="container4-textbox63">
      <span class="container4-text16"><span>Usuario</span></span>
      <div class="container4-textfield3">
        <span class="container4-text18"></span>
        <img src="/assets/Envelope%201.png" alt="Mail3065" class="container4-mail3" />
      </div>
    </div>
    <div class="container4-textbox64">
      <span class="container4-text19"><span>Usuario</span></span>
      <div class="container4-textfield4">
        <span class="container4-text21"></span>
        <img src="/assets/Envelope%201.png" alt="Mail3072" class="container4-mail4" />
      </div>
    </div>
    <div class="container4-textbox65">
      <span class="container4-text22"><span>Usuario</span></span>
      <div class="container4-textfield5">
        <span class="container4-text24"></span>
        <img src="/assets/Envelope%201.png" alt="Mail3079" class="container4-mail5" />
      </div>
    </div>
  </div>
</div>
