<div class="container4-container">
  <div class="container4-container3">
    <form [formGroup]="registerForm" >
      <button class="container4-button1">
        <span class="container4-text" (click)="onSubmit()"><span class="kode-mono-400">INICIO SESSION</span></span>
      </button>
      <button class="container4-button11" (click)="onSubmit()">
        <span class="container4-text02"><span class="kode-mono-400">REGISTRO</span></span>
      </button>
      <button type="submit" class="container4-button9">
        <span class="container4-text04"></span>
        <img src="/assets/flecha.png" alt="Arrowleft3035" class="container4-arrowleft" />
      </button>
      <span class="container4-text05"><span class="roboto-regular">Register</span></span>
      <div class="container4-textbox6">
        <span class="container4-text07"><span class="roboto-thin">Usuario</span></span>
        <div class="container4-textfield ">
          <input type="text" class="container4-input" formControlName="usuario">
          <img src="/assets/Envelope%201.png" alt="Mail3044" class="container4-mail" />
        </div>
      </div>
      <div class="container4-textbox61">
        <span class="container4-text10"><span class="roboto-thin">Nombre</span></span>
        <div class="container4-textfield1">
          <input type="text" class="container4-input" formControlName="nombre">
          <img src="/assets/Envelope%201.png" alt="Mail3051" class="container4-mail1" />
        </div>
      </div>
      <div class="container4-textbox62">
        <span class="container4-text13"><span class="roboto-thin">Apellido</span></span>
        <div class="container4-textfield2">
          <input type="text" class="container4-input" formControlName="apellido">
          <img src="/assets/Envelope%201.png" alt="Mail3058" class="container4-mail2" />
        </div>
      </div>
      <div class="container4-textbox63">
        <span class="container4-text16"><span class="roboto-thin">Correo</span></span>
        <div class="container4-textfield3">
          <input type="text" class="container4-input" formControlName="correo">
          <img src="/assets/Envelope%201.png" alt="Mail3065" class="container4-mail3" />
        </div>
      </div>
      <div class="container4-textbox64">
        <span class="container4-text19"><span class="roboto-thin">Contraseña</span></span>
        <div class="container4-textfield4">
          <input type="text" class="container4-input" formControlName="contraseña">
          <img src="/assets/Envelope%201.png" alt="Mail3072" class="container4-mail4" />
        </div>
      </div>
      <div class="container4-textbox65">
        <span class="container4-text22"><span class="roboto-thin">Repetir Contraseña</span></span>
        <div class="container4-textfield5">
          <input type="text" class="container4-input" formControlName="repetirContraseña">
          <img src="/assets/Envelope%201.png" alt="Mail3079" class="container4-mail5" />
        </div>
      </div>
      <div class="container4-textbox66">
        <span class="container4-text22"><span class="roboto-thin">Fecha de nacimento</span></span>
        <div class="container4-textfield6">
          <input type="date" class="container4-input" formControlName="fechaNacimiento">
          <img src="/assets/Envelope%201.png" alt="Mail3086" class="container4-mail6" />
        </div>
      </div>
    </form>
  </div>
</div>

